

@import "menu.css";
@import "slider.css";
@import "layers.css";

div {
  margin-top: 1rem;
  > div{
    + div{
      margin-top: 1rem;
      }
    }
}
*{
	margin: 0px;
	padding: 0px;
}
body, html {
            width: 100%;
            height: 100%;
            background: linear-gradient(141deg, midnightblue 0%, black 51%, midnightblue 75%);
            background-color: black;
            color: white;
        }
        h2{
            position: relative;
            color: white;
            float: right;
            right: 50px;
        }

        p#description {
            background-color: rgb(200,200,200);
            font-family: sans-serif;
        }

        div#controlsArea {
            position: relative;
            right: 50px;
            top: 55px;
            width: 5%;
            height: 10%;
            float: right;
        }
        canvas[nx="toggle"] {
            background: midnightblue;
        }
        canvas[nx="matrix"] {
            height: 70%;
            width: 70%;
            background: midnightblue;
            position: relative;
            float: left;
            left: 5%;
            top: 15%;
        }

        #play {
            height: 100%;
            width: 100%;
            position: relative;
            left: 450px;
        }

#boxArea{
    background: linear-gradient(141deg, dimgray 0%, gray 51%, dimgray 75%);
    background-color: black;
    margin: 10px auto;
    width: 70%;
    height: 65%;
    border-style: solid;
    border-width: 30px;
    border-left: 30px solid grey;
    border-bottom: 30px solid grey;
    border-top: 30px solid darkgrey;
    border-right: 30px solid darkgrey;
    position: relative;
    top: 125px;
}

.bar{
    position: relative;
    left: 150px;
    top: 0px;
}
#volumeSliders{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 10%;
    float: left;
    height: 70%;
    top: 11%;
    left: 5%;
}
#muteBox{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 5%;
    height: 70%;
    float: left;
    top: 11%;
    left: 5%;
}
.flex-container{
    height: 100%;
    width: 100%;
}
.mute{
    height: 14.45%;
}
