
@import "menu.css";
@import "slider.css";
@import "layers.css";
@import "effects.css";

div {
  margin-top: 1rem;
  > div{
    + div{
      margin-top: 1rem;
      }
    }
}
*{
	margin: 0px;
	padding: 0px;
}
body, html {
            width: 100%;
            height: 100%;
            background: linear-gradient(141deg, midnightblue 0%, black 51%, midnightblue 75%);
            background-color: black;
            color: white;
        }
        h2{
            position: relative;
            color: white;
            float: right;
            right: 1%;
            margin: 0.8%;
        }

        p#description {
            background-color: rgb(200,200,200);
            font-family: sans-serif;
        }

        div#controlsArea {
            position: relative;
            right: -5%;
            top: 84%;
            width: 5%;
            height: 10%;
            float: right;
        }
        canvas[nx="toggle"] {
            background: midnightblue;
        }
        canvas[nx="matrix"] {
            display: flex;
            flex-direction: column;
            position: relative;
            background: midnightblue;
            height: 70%;
            width: 70%;
            float: left;
            top: 3%;
        }

        #play {
            height: 100%;
            width: 100%;
            position: relative;
        }

#boxArea{
    background: linear-gradient(141deg, dimgray 0%, gray 51%, dimgray 75%);
    background-color: black;
    margin: 0% auto;
    width: 70%;
    height: 65%;
    border-style: solid;
    border-width: 30px;
    border-left: 30px solid grey;
    border-bottom: 30px solid grey;
    border-top: 30px solid darkgrey;
    border-right: 30px solid darkgrey;
    position: relative;
    top: 23%;
}
#volumeSliders{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 10%;
    float: left;
    height: 70%;
    top: 0%;
}
#muteBox{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 5%;
    float: left;
    height: 70%;
    top: 0%;
}
.mute{
    width: 100%; /* Full-width */
    height: 14.2857%;
}
.effects{
    position: relative;
    background: gray;
    height: 20%;
    width: 10%;
    float: left;
}
#tempo{
    position: relative;
    top: -25%;
    width: 70%;
    background: pink;
    height: 0%;
    left: 22%;
}
#seconds{
    width: 100%;
    position: relative;
}
.tick{
    background-color: white;
    position: relative;
    height: 45%;
    width: 2.09%;
    float: left;
    margin: 1.13%;
    border-radius: 50%;
}
#tick0{
    background-color: pink;
}
#tick4{
    background-color: pink;
}
#tick8{
    background-color: pink;
}
#tick12{
    background-color: pink;
}
#interface{
    width: 100%;
    height: 90%;
}
#tickers{
    position: relative;
    height: 10%;
    left: 15%;
    top: 5%;
}
